<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <h2 class="text-center">Update Product</h2>

    <div class="form-group">
      <label for="type">Type</label>
      <select formControlName="type">
        <option value="Phone">Phone</option>
        <option value="Tablet">Tablet</option>
        <option value="Laptop">Laptop</option>
      </select>
    </div>
    <div *ngIf="form.get('type').touched && form.get('type').invalid" class="validation">
      <small *ngIf="form.get('type').errors.required">Chose product type</small>
    </div>

    <div class="form-group">
      <label for="title">Name</label>
      <input id="title" type="title" formControlName="title" class="form-control"/>
    </div>
    <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
      <small *ngIf="form.get('title').errors.required">Enter product name</small>
    </div>

    <div class="form-group">
      <label for="type">Photo:</label>
      <quill-editor formControlName="photo"></quill-editor>
    </div>
    <div class="form-group">
      <label for="type">Information:</label>
      <quill-editor formControlName="info"></quill-editor>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input id="price" type="type" formControlName="price" class="form-control"/>
    </div>
    <div *ngIf="form.get('price').touched && form.get('price').invalid" class="validation">
      <small *ngIf="form.get('price').errors.required">Enter product price</small>
    </div>


    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid && !submitted">Update</button>
  </form>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
