<nav class="navbar bg-dark">
  <h2>Online Shop</h2>
  <ul>
    <li routerLinkActive="active">
      <a (click)="setProduct('Phone')">Phone</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setProduct('Tablet')">Tablet</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setProduct('Laptop')">Laptop</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setProduct('Cart')" [routerLink]="['/cart']">Cart <span class="count-product">{{productCount}}</span></a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

