<div class="box text-center" *ngFor="let product of products | sorting: productService.type">
  <h2>{{product.title}}</h2>
  <div class="flex-center img">
    <quill-view-html [content]="product.photo"></quill-view-html>
  </div>
  <h2>Price: {{product.price}} $</h2>

  <button class="btn btn-dark" [routerLink]="['/product', product.id]">Open</button>
  <button class="btn btn-dark" [routerLink]="['/cart']" (click)="addProduct(product)">Add to cart</button>
</div>
