<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <h2>Login as administrator</h2>

  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" class="form-control"/>
  </div>
  <div *ngIf="form.get('email').touched && form.get('email').invalid" class="validation">
    <small *ngIf="form.get('email').errors.required">Enter Email</small>
    <small *ngIf="form.get('email').errors.email">Enter Valid Email</small>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" class="form-control"/>
  </div>
  <div *ngIf="form.get('password').touched && form.get('password').invalid" class="validation">
    <small *ngIf="form.get('password').errors.required">Enter Password</small>
    <small *ngIf="form.get('password').errors['minlength']">
      Password must by at last {{form.get('password').errors['minlength']['requiredLength']}} character
      naw is {{form.get('password').errors['minlength']['actualLength']}}
    </small>
  </div>

  <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Login</button>
</form>
