<div *ngIf="products.length > 0; else loading">

  <div class="form-control">
    <input type="text" placeholder="Find a product..." [(ngModel)]="productName">
  </div>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Date of Creation</th>
      <th>Open</th>
      <th>Delete</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let product of products | search : productName; let idx = index">
      <td>{{idx + 1}}</td>
      <td>{{product.title}}</td>
      <td>{{product.price}}</td>
      <td>{{product.date | date:'short'}}</td>
      <td>
        <button class="btn btn-dark" [routerLink]="['/admin', 'product', product.id, 'edit']">Open</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="remove(product.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
