<div *ngIf="orders.length > 0; else noOrders">

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Phone</th>
      <th>Name</th>
      <th>Address</th>
      <th>Product</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let order of orders; let idx = index">
      <td>{{idx + 1}}</td>
      <td>{{order.date | date:'medium'}}</td>
      <td>{{order.phone}}</td>
      <td>{{order.name}}</td>
      <td>{{order.address}}</td>
      <td>
        <div *ngFor="let product of order.orders">{{product.title}} <hr></div>
      </td>
      <td>
        <div>{{order.price}}</div>
        <div>{{order.payment}}</div>
      </td>

      <td>
        <button class="btn btn-danger" (click)="remove(order.id)">Completed</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noOrders>
  <p class="text-center">You don`t have any orders.</p>
</ng-template>
