<div class="container" *ngIf="cardProduct.length > 0; else empty">
  <h2 class="text-center">Your order:</h2>

  <table>
    <tbody>
    <tr *ngFor="let product of cardProduct; let i = index">
      <td>{{product.type}}</td>
      <td>{{product.title}}</td>
      <td>
        <button class="btn btn-danger" (click)="delete(product)">Delete</button>
      </td>
      <td class="right">{{product.price}} $</td>
    </tr>
    </tbody>
  </table>
  <hr>
  <b class="right">Total: {{totalPrice}} $</b>

  <h2 class="text-center">Delivery:</h2>

  <div *ngIf="added" class="text-center text-danger">{{added}}</div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-control">
      <label for="name">Name</label>
      <input id="name" type="name" formControlName="name" class="form-control"/>
      <div *ngIf="form.get('name').touched && form.get('name').invalid" class="validation">
        <small *ngIf="form.get('name').errors.required">Enter your name</small>
      </div>
    </div>

    <div class="form-control">
      <label for="phone">Phone number</label>
      <input id="phone" type="name" formControlName="phone" class="form-control"/>
      <div *ngIf="form.get('phone').touched && form.get('phone').invalid" class="validation">
        <small *ngIf="form.get('phone').errors.required">Enter your phone number</small>
      </div>
    </div>

    <div class="form-control">
      <label for="address">Address</label>
      <input id="address" type="address" formControlName="address" class="form-control"/>
      <div *ngIf="form.get('address').touched && form.get('address').invalid" class="validation">
        <small *ngIf="form.get('address').errors.required">Enter your address</small>
      </div>
    </div>

    <div class="form-control">
      <label for="payment">Payment method:</label>
      <select formControlName="payment">
        <option value="Cash">Cash</option>
        <option value="Card">Card</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid && !submitted">Add</button>
  </form>
</div>

<ng-template #empty>
  <h2 class="text-center">Card is empty, choose your product.</h2>
</ng-template>
